.form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    color: rgba(0,0,0,);
    margin-bottom: 20px;
}
.form__inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.form__line{
    display: flex;
    flex-direction: row;
    

}
.form__block{
    width: 250px;
    margin-right:30px ;
  
   
}
.form__label{
    font-weight: 400;
    margin-bottom: 5px;

}
.form__input{
    height: 40px;
    border-radius: 3px;
    border: 2px solid #e74c3c;
    width: 100%;
    outline: 0;
    transition: all 0.5s ease-in-out;
    padding-left:10px ;
    font-size: 17px;
    margin-bottom: 10px;
}

.form__input:focus{
    border-color: rgba(0,0,0,0.7);
}
.form .btn{
    margin-top: 25px;
    margin-bottom: 35px;
    cursor: pointer;
    align-items: center;
}